img{
    width: 100%;
}

.selectAttackButtons {
  padding: 26px 40px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8b0000;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.selectAttackButtons:hover {background-color: #787878}

.selectAttackButtons:active {
  background-color: #8b0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<style>
.selectAttackButtons {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.selectAttackButtons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.selectAttackButtons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.selectAttackButtons:hover span {
  padding-right: 25px;
}

.selectAttackButtons:hover span:after {
  opacity: 1;
  right: 0;
}

.TurnButton {
  padding: 15px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0000ff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.TurnButton:hover {background-color: #787878}

.TurnButton:active {
  background-color: #0000ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<style>
.TurnButton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.TurnButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.TurnButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.TurnButton:hover span {
  padding-right: 25px;
}

.TurnButton:hover span:after {
  opacity: 1;
  right: 0;
}

.money {
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #55872F;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.money:hover {background-color: #787878}

.money:active {
  background-color: #55872F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<style>
.money {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.money span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.money span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.money:hover span {
  padding-right: 25px;
}

.money:hover span:after {
  opacity: 1;
  right: 0;
}

.damage {
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0000ff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.damage:hover {background-color: #787878}

.damage:active {
  background-color: #0000ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<style>
.damage {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.damage span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.damage span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.damage:hover span {
  padding-right: 25px;
}

.damage:hover span:after {
  opacity: 1;
  right: 0;
}

.experience {
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0000ff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.experience:hover {background-color: #787878}

.experience:active {
  background-color: #0000ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<style>
.experience {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.experience span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.experience span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.experience:hover span {
  padding-right: 25px;
}

.experience:hover span:after {
  opacity: 1;
  right: 0;
}

.help {
  position: relative;
  border-bottom: 1px dotted black;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.help .hovertext {
  top: -35px;
  left: -50px;
  visibility: hidden;
  width: 120px;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.help:hover .hovertext {
  visibility: visible;
}
